<h1>Edit document</h1>

<form id="edit-document" name="document">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Document" />
  </div>

</form>

<a href="#/index">Back</a>
